<h1>Confirmation was sent for your account</h1>

<p>Hello, <%= @user.first_name %> <%= @user.last_name %>.</p>

<p>
  Follow <%= link_to "this link", @confirmation_link %>
  to confirm your account.
</p>
