defaults: &defaults
  adapter: postgresql
  encoding: unicode
  min_messages: warning
  timeout: 5000
  username: postgres
  pool: <%= [ENV.fetch("MAX_THREADS", 5), ENV.fetch("DB_POOL", 5)].max %>

development:
  database: <%= ENV.fetch("DB_NAME", "#{File.basename(Rails.root)}_dev") %>
  <<: *defaults

test:
  database: <%= ENV.fetch("DB_NAME", "#{File.basename(Rails.root)}_test") %>
  <<: *defaults
