<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      p, h1 {
        font-family: Arial, Helvetica, sans-serif;
      }
      .mono {
        font-family: "Lucida Console", Courier, monospace;
        margin: 0 2ch 0 2ch;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
